extends ../layouts/main.pug
block content
  style.
    h1, h2, h3, p, figure, body, nav, article { margin: 0px; padding: 0px; }
    img { display: block; max-width: 100%; border: none; }
    button { background: none; border: none; padding: 0; cursor: pointer; }
    a { text-decoration: none; color: inherit; display: inline-block; }
    * { box-sizing: border-box; }
    html, body { overflow-x: hidden; width: 100%; }


  main.main.block
    section.block
        .malker.mx-auto.bg-gray-200.flex.items-center.justify-center.w-full(class="h-[250px]")
            .bilboard.flex.bg-gray-100.h-full.items-center.justify-center(class="w-[970px]")
                h2.text-2xl.font-bold.text-gray-500 BILLBOARD

        .mx-auto.container.my-5.px-4
            //- Breadcrumb
            .breadcrumb.flex.items-center
                nav.flex.items-center.gap-2.text-xxs.p-0.m-0(class="sm:text-xs")
                    a.color-dark.transition-all.no-underline.text-black(href="#" class="hover:underline") Haberler
                    svg(xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" class="w-auto h-[12px] fill-current text-gray-400 block")
                        path(d="M.204 10.306a.697.697 0 0 0 .49.194.722.722 0 0 0 .49-.194l4.654-4.434A.524.524 0 0 0 6 5.5a.504.504 0 0 0-.162-.372L1.184.694a.716.716 0 0 0-.98 0 .637.637 0 0 0 0 .933l4.062 3.87L.2 9.373a.642.642 0 0 0 .005.933Z")
                    a.color-dark.transition-all.no-underline.text-black(href="#" class="hover:underline") Teknoloji Haberleri
                    svg(xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" class="w-auto h-[12px] fill-current text-gray-400 block")
                        path(d="M.204 10.306a.697.697 0 0 0 .49.194.722.722 0 0 0 .49-.194l4.654-4.434A.524.524 0 0 0 6 5.5a.504.504 0 0 0-.162-.372L1.184.694a.716.716 0 0 0-.98 0 .637.637 0 0 0 0 .933l4.062 3.87L.2 9.373a.642.642 0 0 0 .005.933Z")
                    span.font-bold.line-clamp-1.leading-tight(class="max-w-[150px] sm:max-w-none") Dikkat: Yapay zeka sizi dinliyor olabilir! Mahremiyet tehlikede mi?

            - 
                var sideSlides = [
                    { img: "https://iaahbr.tmgrup.com.tr/ea290a/306/216/90/0/2048/1381?u=https://iahbr.tmgrup.com.tr/2026/01/26/1769406781367.jpg", title: "Erdoğan'dan 2025'te kıtaları aşan liderlik diplomasisi" },
                    { img: "https://iaahbr.tmgrup.com.tr/dc2642/306/216/76/0/732/462?u=https://iahbr.tmgrup.com.tr/2026/01/26/1769401082886.jpg", title: "İBB'den iş insanlarına yetim hakkıyla fuhuş skandalı" },
                    { img: "https://iaahbr.tmgrup.com.tr/46f96a/306/216/220/0/660/310?u=https://iahbr.tmgrup.com.tr/2026/01/26/suriye-ordusu-caber-kalesini-geri-aldi-a-haber-suleyman-sahin-ilk-defnedildigi-yerde-1769382965576.jpg", title: "A Haber Süleyman Şah'ın ilk defnedildiği yerde" }
                ]
        
            //- Ana İçerik ve Sidebar Düzeni
            .flex.flex-col.w-full.gap-6.mt-6(class="lg:flex-row")           
                .article-wrapper.flex.flex-col.gap-3.h-full.w-full(class="lg:flex-1 lg:min-w-0")
                    article.flex.flex-col.gap-6.w-full.max-w-full.m-0.p-0
                        .article-title.m-0
                            h1.font-bold.leading-tight.m-0(class="text-4xl lg:text-9xl") Dikkat: Yapay zeka sizi dinliyor olabilir! Mahremiyet tehlikede mi?
                        
                        .article-info.flex.flex-row.gap-1
                            .flex.flex-col.justify-between.items-start.w-full.flex-wrap
                                .flex.gap-2.leading-tight.flex-wrap
                                    .flex-col.justify-between.items-start
                                        span.text-black.text-xs Giriş Tarihi: 
                                        time.color-dark.text-xs 10 Aralık 2025 15:23
                                    .flex-col.justify-between.items-start 
                                        span.text-black.text-xs Son Güncelleme: 
                                        time.color-dark.text-xs 16 Aralık 2025 12:12
                                .flex.flex-row.gap-1.items-center.flex-wrap.mt-2
                                    span.font-bold.text-black.text-xs ahaber.com.tr - Özel Haber
                                    .divider-info 
                                    span.font-bold.text-black.text-xs Büşra Arga
                            .share-buttons.flex.flex-row.gap-2.m-0.flex-shrink-0
                                a.google-share-btn.group.border.border-solid.flex.items-center.justify-center.rounded-full.transition-all.hidden(class="border-[#bab6b6] hover:bg-black lg:px-4 lg:flex")(href="")
                                    <svg xmlns="http://www.w3.org/2000/svg" width="86" height="16" viewBox="0 0 86 16" fill="none"><g clip-path="url(#a)"><path style="fill:#4885ED" d="M5.932 5.876v1.588h3.809c-.115.9-.421 1.55-.862 2.01-.555.554-1.435 1.167-2.947 1.167-2.353 0-4.19-1.895-4.19-4.248 0-2.354 1.837-4.249 4.19-4.249 1.263 0 2.201.498 2.87 1.148l1.13-1.129c-.957-.918-2.22-1.626-4-1.626C2.717.537 0 3.158 0 6.373c0 3.215 2.698 5.837 5.932 5.837 1.742 0 3.043-.574 4.076-1.627 1.053-1.052 1.378-2.545 1.378-3.731 0-.364-.019-.708-.076-.995-.02.019-5.378.019-5.378.019Z"></path><path fill="#EF2B30" d="M16.151 4.574c-2.085 0-3.789 1.589-3.789 3.77 0 2.182 1.704 3.77 3.79 3.77 2.085 0 3.788-1.588 3.788-3.77 0-2.181-1.703-3.77-3.789-3.77Zm0 6.048c-1.148 0-2.124-.938-2.124-2.278s.995-2.277 2.124-2.277c1.13 0 2.125.938 2.125 2.277 0 1.34-.976 2.278-2.125 2.278Z"></path><path fill="#4885ED" d="M34.713 5.416h-.057c-.364-.44-1.09-.842-1.99-.842-1.876 0-3.521 1.646-3.521 3.77 0 2.125 1.645 3.77 3.52 3.77.9 0 1.608-.402 1.99-.86h.058v.516c0 1.435-.765 2.22-2.01 2.22-1.013 0-1.645-.728-1.894-1.34l-1.435.593c.421.995 1.512 2.22 3.35 2.22 1.932 0 3.578-1.148 3.578-3.923V4.766h-1.57v.65h-.019ZM32.8 10.622c-1.149 0-2.01-.976-2.01-2.278 0-1.3.861-2.277 2.01-2.277 1.148 0 2.009.976 2.009 2.297.02 1.3-.88 2.258-2.01 2.258Z"></path><path fill="#FFCA0C" d="M24.59 4.574c-2.085 0-3.788 1.589-3.788 3.77 0 2.182 1.703 3.77 3.789 3.77 2.086 0 3.789-1.588 3.789-3.77 0-2.181-1.703-3.77-3.79-3.77Zm0 6.048c-1.147 0-2.123-.938-2.123-2.278s.995-2.277 2.124-2.277 2.124.938 2.124 2.277c0 1.34-.976 2.278-2.124 2.278Z"></path><path fill="#39CD55" d="M37.584.709h1.627v11.405h-1.627V.71Z"></path><path fill="#EF2B30" d="M44.244 10.622c-.842 0-1.435-.383-1.837-1.149l5.052-2.085-.172-.421c-.306-.842-1.282-2.412-3.234-2.412s-3.56 1.531-3.56 3.77c0 2.24 1.588 3.77 3.732 3.77 1.722 0 2.717-1.052 3.138-1.665l-1.282-.86c-.42.65-.995 1.052-1.837 1.052ZM44.11 5.99c.67 0 1.244.344 1.435.822L42.14 8.23c0-1.589 1.129-2.24 1.971-2.24Z"></path><path class="group-hover:fill-white" fill="#767676" d="M52.147 12.19V1.858h1.607l5.033 8.037h.057l-.057-1.99V1.857h1.32v10.334H58.73l-5.263-8.44h-.057l.057 1.99v6.43h-1.32v.02Zm13.032.25c-1.072 0-1.933-.364-2.603-1.072-.67-.708-.995-1.608-.995-2.698 0-1.034.325-1.914.976-2.66.65-.747 1.473-1.11 2.488-1.11 1.014 0 1.894.344 2.526 1.033.631.69.937 1.608.937 2.737l-.019.248h-5.588c.038.709.268 1.283.708 1.684.44.421.957.613 1.531.613.957 0 1.589-.402 1.933-1.206l1.187.498c-.23.555-.613 1.014-1.149 1.378-.516.363-1.167.555-1.933.555Zm1.913-4.631c-.038-.402-.21-.785-.555-1.149-.344-.363-.842-.555-1.53-.555-.498 0-.92.153-1.283.46-.363.306-.612.727-.746 1.244h4.114Zm10.353 4.382h-1.359l-1.76-5.435-1.742 5.435h-1.34l-2.276-7.08h1.377l1.57 5.338h.019l1.741-5.339h1.378l1.742 5.34h.019l1.55-5.34h1.358l-2.277 7.08Zm5.78.249c-.785 0-1.436-.192-1.953-.574a3.326 3.326 0 0 1-1.129-1.436l1.187-.497c.383.88 1.014 1.32 1.913 1.32.422 0 .747-.095 1.015-.268.268-.191.402-.42.402-.727 0-.46-.326-.765-.976-.938l-1.436-.344a3.263 3.263 0 0 1-1.282-.65 1.606 1.606 0 0 1-.612-1.302c0-.632.268-1.13.823-1.531.555-.383 1.205-.593 1.97-.593.632 0 1.187.134 1.685.42a2.36 2.36 0 0 1 1.052 1.226l-1.148.478c-.268-.632-.804-.938-1.627-.938-.401 0-.727.077-.995.249-.267.172-.401.383-.401.67 0 .402.306.67.937.823l1.397.325c.67.153 1.148.421 1.474.785.325.382.478.803.478 1.263 0 .631-.268 1.167-.784 1.588-.498.44-1.168.65-1.99.65Z"></path></g><defs><clipPath id="a"><path class="fill-current" d="M0 .537h86v14.927H0z"></path></clipPath></defs></svg>
                                a.x-share-btn.border.border-solid.flex.items-center.justify-center.rounded-full.transition-all.w-8.h-8(class="border-[#bab6b6] hover:bg-black lg:w-10 lg:h-10")(href="")
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none"><path class="" fill="#767676" d="M8.303 6.428 13.403.5h-1.209L7.766 5.647 4.23.5H.15L5.5 8.284.15 14.5H1.36l4.676-5.436L9.77 14.5h4.08L8.302 6.428ZM6.648 8.352l-.542-.775L1.794 1.41h1.857L7.13 6.387l.542.775 4.523 6.47h-1.856l-3.691-5.28Z"></path></svg>
                                a.whatsapp-share-btn.group.border.border-solid.flex.items-center.justify-center.rounded-full.transition-all.w-8.h-8(class="border-[#bab6b6] hover:bg-[#c10871] lg:w-10 lg:h-10")(href="")
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none"><path class="fill-[#2ac108] transition-colors group-hover:fill-white" d="M13.668 2.787A7.89 7.89 0 0 0 8.032.442C3.642.442.064 4.028.064 8.428c0 1.41.37 2.78 1.062 3.988L0 16.558l4.221-1.112a7.956 7.956 0 0 0 3.811.975c4.39 0 7.968-3.586 7.968-7.985a7.944 7.944 0 0 0-2.332-5.65Zm-5.636 12.28a6.632 6.632 0 0 1-3.377-.926l-.24-.145-2.51.66.668-2.45-.16-.249a6.67 6.67 0 0 1-1.014-3.53c0-3.658 2.975-6.64 6.625-6.64 1.769 0 3.433.694 4.68 1.95a6.594 6.594 0 0 1 1.937 4.699c.016 3.658-2.959 6.631-6.609 6.631Zm3.634-4.963c-.2-.097-1.182-.58-1.359-.653-.184-.065-.313-.097-.45.097-.136.201-.514.652-.627.781-.112.137-.233.153-.434.049-.201-.097-.844-.315-1.6-.992-.595-.531-.989-1.184-1.11-1.386-.112-.201-.016-.306.089-.41.088-.09.2-.234.297-.347.097-.113.137-.201.201-.33.065-.137.033-.25-.016-.347-.048-.097-.45-1.08-.61-1.483-.162-.386-.33-.338-.451-.346H5.21a.722.722 0 0 0-.53.25c-.177.201-.692.685-.692 1.668 0 .983.716 1.934.812 2.063.096.137 1.407 2.151 3.401 3.013.474.21.844.33 1.134.42.474.152.908.128 1.254.08.386-.056 1.182-.483 1.343-.95.168-.468.168-.863.112-.952-.056-.088-.177-.129-.378-.225Z"></path></svg>
                                .relative.inline-block
                                    button#share-btn.bg-transparent.m-0.p-0.relative.border.border-solid.flex.items-center.justify-center.rounded-full.transition-all.w-8.h-8.cursor-pointer(class="border-[#bab6b6] hover:bg-[#2d445b] lg:w-10 lg:h-10")
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="4" viewBox="0 0 16 4" fill="none"><circle cx="2" cy="2" r="1.5" class="" fill="#767676"></circle><circle cx="2" cy="2" r="1.5" class="" fill="#767676" fill-opacity=".2"></circle><circle cx="2" cy="2" r="1.5" class="" fill="#767676" fill-opacity=".2"></circle><circle cx="2" cy="2" r="1.5" class="" fill="#767676" fill-opacity=".2"></circle><circle cx="8" cy="2" r="1.5" class="" fill="#767676"></circle><circle cx="8" cy="2" r="1.5" class="" fill="#767676"  fill-opacity=".2"></circle><circle cx="8" cy="2" r="1.5" class="" fill="#767676" fill-opacity=".2"></circle><circle cx="8" cy="2" r="1.5" class="" fill="#767676" fill-opacity=".2"></circle><circle cx="14" cy="2" r="1.5" class="" fill="#767676"></circle><circle cx="14" cy="2" r="1.5" class="" fill="#767676" fill-opacity=".2"></circle><circle cx="14" cy="2" r="1.5" class="" fill="#767676" fill-opacity=".2"></circle><circle cx="14" cy="2" r="1.5" class="" fill="#767676" fill-opacity=".2"></circle></svg>
                                    #article-share-panel.hidden.bg-white.border-solid.border-platinium.z-20.absolute.top-auto.mt-2.p-2.right-0.rounded(class="lg:p-4 min-w-[280px] max-w-[calc(100vw-1rem)] w-auto lg:min-w-[344px] lg:max-w-[395px] lg:w-[395px] border-[1px]")
                                        .flex.justify-end.mb-4
                                            button#panel-close-btn.bg-transparent.border-none
                                                a.flex.justify-end(href="#" alt="Kapat")
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" class="text-black active:text-black" style="" fill="none"><path class="fill-current" d="M17.78 16.801A.694.694 0 0 1 17.295 18a.692.692 0 0 1-.494-.22L8.983 9.962 1.164 17.78a.693.693 0 0 1-.978-.979l7.817-7.818L.186 1.164a.692.692 0 0 1 .978-.978l7.819 7.817L16.8.186a.692.692 0 0 1 .979.978L9.962 8.983 17.78 16.8Z"></path></svg>
                                        .share-btn.flex.gap-2.items-center.flex-row.mb-5(class="lg:gap-3")
                                            .text-xs.font-bold(class="min-w-[63px] max-w-[63px]")
                                                | PAYLAŞ
                                            .buttons.flex.flex-row(class="gap-1.5 lg:gap-2")
                                                <a href="#" aria-label="Facebook'ta Paylaş" class="flex justify-center items-center rounded-full border-solid border-[#cacae4] border-[1px] bg-white text-[#0866ff] transition-all hover:transition-colors hover:text-white hover:bg-[#0866ff] duration-200 w-8 h-8 lg:w-10 lg:h-10 p-0">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16" class="" style="" fill="none"><path class="fill-current" d="M6.973 0a4.055 4.055 0 0 0-4.055 4.055v2.257H.748a.197.197 0 0 0-.197.198v2.98c0 .11.087.198.197.198h2.17v6.115c0 .108.087.197.197.197h2.98a.197.197 0 0 0 .198-.197V9.688h2.19c.09 0 .169-.062.19-.15l.746-2.98a.197.197 0 0 0-.191-.246H6.293V4.055a.68.68 0 0 1 .68-.68h2.28a.197.197 0 0 0 .196-.197V.198A.197.197 0 0 0 9.252 0h-2.28Z"></path></svg></a>
                                                <a href="#" aria-label="X'te Paylaş" class="flex justify-center items-center rounded-full border-solid border-[#cacae4] border-[1px] bg-white text-[#2D445B] transition-all hover:transition-colors hover:bg-black hover:text-white duration-200 w-8 h-8 lg:w-10 lg:h-10 p-0 ">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" class="" style="" fill="none"><path class="fill-current" d="M8.303 6.428 13.403.5h-1.209L7.766 5.647 4.23.5H.15L5.5 8.284.15 14.5H1.36l4.676-5.436L9.77 14.5h4.08L8.302 6.428ZM6.648 8.352l-.542-.775L1.794 1.41h1.857L7.13 6.387l.542.775 4.523 6.47h-1.856l-3.691-5.28Z"></path></svg></a>
                                                <a href="#" aria-label="NSosyal'de Paylaş" class="flex justify-center items-center rounded-full border border-solid border-[#cacae4] bg-white text-[#3548ff] w-8 h-8 lg:w-10 lg:h-10 p-0 transition-all duration-200 hover:bg-gradient-to-r hover:from-[#3548ff] hover:to-[#33c8dd] hover:text-white ">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" class="" style="" fill="none"><path class="fill-current" d="M7.66667 0H0V16H4.66667V7C5.22222 8.22222 6.53333 11.2 7.33333 13.3333C8.13333 15.4667 9.44444 16 10 16H13.6667C15 16 15.7778 14.6667 16 14V0H11.3333V9L7.66667 0Z"></path></svg></a>
                                                <a href="#" aria-label="WhatsApp'ta Paylaş" class="flex justify-center items-center rounded-full border-solid border-[#cacae4] border-[1px] bg-white text-color-whatsapp transition-all hover:transition-colors hover:bg-color-whatsapp hover:text-white duration-200 w-8 h-8 lg:w-10 lg:h-10 p-0 ">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" class="" style="" fill="none"><path class="fill-current" d="M13.668 2.787A7.89 7.89 0 0 0 8.032.442C3.642.442.064 4.028.064 8.428c0 1.41.37 2.78 1.062 3.988L0 16.558l4.221-1.112a7.956 7.956 0 0 0 3.811.975c4.39 0 7.968-3.586 7.968-7.985a7.944 7.944 0 0 0-2.332-5.65Zm-5.636 12.28a6.632 6.632 0 0 1-3.377-.926l-.24-.145-2.51.66.668-2.45-.16-.249a6.67 6.67 0 0 1-1.014-3.53c0-3.658 2.975-6.64 6.625-6.64 1.769 0 3.433.694 4.68 1.95a6.594 6.594 0 0 1 1.937 4.699c.016 3.658-2.959 6.631-6.609 6.631Zm3.634-4.963c-.2-.097-1.182-.58-1.359-.653-.184-.065-.313-.097-.45.097-.136.201-.514.652-.627.781-.112.137-.233.153-.434.049-.201-.097-.844-.315-1.6-.992-.595-.531-.989-1.184-1.11-1.386-.112-.201-.016-.306.089-.41.088-.09.2-.234.297-.347.097-.113.137-.201.201-.33.065-.137.033-.25-.016-.347-.048-.097-.45-1.08-.61-1.483-.162-.386-.33-.338-.451-.346H5.21a.722.722 0 0 0-.53.25c-.177.201-.692.685-.692 1.668 0 .983.716 1.934.812 2.063.096.137 1.407 2.151 3.401 3.013.474.21.844.33 1.134.42.474.152.908.128 1.254.08.386-.056 1.182-.483 1.343-.95.168-.468.168-.863.112-.952-.056-.088-.177-.129-.378-.225Z"></path></svg></a>
                                                <a href="#" aria-label="Bağlantıyı Kopyala" class="flex justify-center items-center rounded-full border-solid border-[#cacae4] border-[1px] bg-white text-[#0084ff] transition-all hover:transition-colors hover:text-white hover:bg-[#0084ff] duration-200 w-8 h-8 lg:w-10 lg:h-10 p-0 ">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="" style="" fill="none"><path class="stroke-current" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.6" d="M14.226 9.773a4.406 4.406 0 0 0-6.233 0l-4.452 4.454a4.407 4.407 0 0 0 6.233 6.232l.417-.395m-.417-5.837a4.406 4.406 0 0 0 6.234 0l4.45-4.454a4.407 4.407 0 1 0-6.231-6.233L12.89 4.79"></path></svg></a>
                                        .subscribe-btn.flex.items-center.flex-row(class="gap-[2] lg:gap-3")
                                            .text-xs.font-bold(class="min-w-[63px] max-w-[63px]")
                                                | ABONE OL
                                            .buttons.flex.flex-row(class="gap-[1.5] lg:gap-2")
                                                a.google-share-btn.group.border.border-solid.py-2.px-3.flex.items-center.justify-center.rounded-full.transition-all.hidden(class="border-[#bab6b6] hover:bg-black lg:px-4 lg:flex")(href="")
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="86" height="16" viewBox="0 0 86 16" fill="none"><g clip-path="url(#a)"><path style="fill:#4885ED" d="M5.932 5.876v1.588h3.809c-.115.9-.421 1.55-.862 2.01-.555.554-1.435 1.167-2.947 1.167-2.353 0-4.19-1.895-4.19-4.248 0-2.354 1.837-4.249 4.19-4.249 1.263 0 2.201.498 2.87 1.148l1.13-1.129c-.957-.918-2.22-1.626-4-1.626C2.717.537 0 3.158 0 6.373c0 3.215 2.698 5.837 5.932 5.837 1.742 0 3.043-.574 4.076-1.627 1.053-1.052 1.378-2.545 1.378-3.731 0-.364-.019-.708-.076-.995-.02.019-5.378.019-5.378.019Z"></path><path fill="#EF2B30" d="M16.151 4.574c-2.085 0-3.789 1.589-3.789 3.77 0 2.182 1.704 3.77 3.79 3.77 2.085 0 3.788-1.588 3.788-3.77 0-2.181-1.703-3.77-3.789-3.77Zm0 6.048c-1.148 0-2.124-.938-2.124-2.278s.995-2.277 2.124-2.277c1.13 0 2.125.938 2.125 2.277 0 1.34-.976 2.278-2.125 2.278Z"></path><path fill="#4885ED" d="M34.713 5.416h-.057c-.364-.44-1.09-.842-1.99-.842-1.876 0-3.521 1.646-3.521 3.77 0 2.125 1.645 3.77 3.52 3.77.9 0 1.608-.402 1.99-.86h.058v.516c0 1.435-.765 2.22-2.01 2.22-1.013 0-1.645-.728-1.894-1.34l-1.435.593c.421.995 1.512 2.22 3.35 2.22 1.932 0 3.578-1.148 3.578-3.923V4.766h-1.57v.65h-.019ZM32.8 10.622c-1.149 0-2.01-.976-2.01-2.278 0-1.3.861-2.277 2.01-2.277 1.148 0 2.009.976 2.009 2.297.02 1.3-.88 2.258-2.01 2.258Z"></path><path fill="#FFCA0C" d="M24.59 4.574c-2.085 0-3.788 1.589-3.788 3.77 0 2.182 1.703 3.77 3.789 3.77 2.086 0 3.789-1.588 3.789-3.77 0-2.181-1.703-3.77-3.79-3.77Zm0 6.048c-1.147 0-2.123-.938-2.123-2.278s.995-2.277 2.124-2.277 2.124.938 2.124 2.277c0 1.34-.976 2.278-2.124 2.278Z"></path><path fill="#39CD55" d="M37.584.709h1.627v11.405h-1.627V.71Z"></path><path fill="#EF2B30" d="M44.244 10.622c-.842 0-1.435-.383-1.837-1.149l5.052-2.085-.172-.421c-.306-.842-1.282-2.412-3.234-2.412s-3.56 1.531-3.56 3.77c0 2.24 1.588 3.77 3.732 3.77 1.722 0 2.717-1.052 3.138-1.665l-1.282-.86c-.42.65-.995 1.052-1.837 1.052ZM44.11 5.99c.67 0 1.244.344 1.435.822L42.14 8.23c0-1.589 1.129-2.24 1.971-2.24Z"></path><path class="group-hover:fill-white" fill="#767676" d="M52.147 12.19V1.858h1.607l5.033 8.037h.057l-.057-1.99V1.857h1.32v10.334H58.73l-5.263-8.44h-.057l.057 1.99v6.43h-1.32v.02Zm13.032.25c-1.072 0-1.933-.364-2.603-1.072-.67-.708-.995-1.608-.995-2.698 0-1.034.325-1.914.976-2.66.65-.747 1.473-1.11 2.488-1.11 1.014 0 1.894.344 2.526 1.033.631.69.937 1.608.937 2.737l-.019.248h-5.588c.038.709.268 1.283.708 1.684.44.421.957.613 1.531.613.957 0 1.589-.402 1.933-1.206l1.187.498c-.23.555-.613 1.014-1.149 1.378-.516.363-1.167.555-1.933.555Zm1.913-4.631c-.038-.402-.21-.785-.555-1.149-.344-.363-.842-.555-1.53-.555-.498 0-.92.153-1.283.46-.363.306-.612.727-.746 1.244h4.114Zm10.353 4.382h-1.359l-1.76-5.435-1.742 5.435h-1.34l-2.276-7.08h1.377l1.57 5.338h.019l1.741-5.339h1.378l1.742 5.34h.019l1.55-5.34h1.358l-2.277 7.08Zm5.78.249c-.785 0-1.436-.192-1.953-.574a3.326 3.326 0 0 1-1.129-1.436l1.187-.497c.383.88 1.014 1.32 1.913 1.32.422 0 .747-.095 1.015-.268.268-.191.402-.42.402-.727 0-.46-.326-.765-.976-.938l-1.436-.344a3.263 3.263 0 0 1-1.282-.65 1.606 1.606 0 0 1-.612-1.302c0-.632.268-1.13.823-1.531.555-.383 1.205-.593 1.97-.593.632 0 1.187.134 1.685.42a2.36 2.36 0 0 1 1.052 1.226l-1.148.478c-.268-.632-.804-.938-1.627-.938-.401 0-.727.077-.995.249-.267.172-.401.383-.401.67 0 .402.306.67.937.823l1.397.325c.67.153 1.148.421 1.474.785.325.382.478.803.478 1.263 0 .631-.268 1.167-.784 1.588-.498.44-1.168.65-1.99.65Z"></path></g><defs><clipPath id="a"><path class="fill-current" d="M0 .537h86v14.927H0z"></path></clipPath></defs></svg>
                                            .text-btn.flex.flex-row.items-center(class="gap-[1.5] lg:gap-3")
                                                .text-xs.font-bold
                                                    | YAZI
                                                .text-btn.group.border.border-solid.flex.items-center.justify-center.rounded-full.transition-all(class="border-[#bab6b6] h-8 lg:h-10 w-[103px]")
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14" class="w-6 h-3.5" style="" fill="none"><path class="fill-current" d="M0 13.5 5.742.81h1.944L13.5 13.5h-2.358L9.594 9.936l.936.63H2.916l.972-.63L2.34 13.5H0ZM6.696 3.294 4.158 9.306l-.468-.558h6.048l-.378.558-2.592-6.012h-.072ZM18.234 13.68c-.792 0-1.488-.186-2.088-.558-.6-.384-1.068-.93-1.404-1.638-.336-.708-.504-1.554-.504-2.538 0-.984.168-1.824.504-2.52.336-.708.804-1.248 1.404-1.62.6-.384 1.296-.576 2.088-.576.768 0 1.44.192 2.016.576.588.372.978.876 1.17 1.512h-.198l.198-1.908h2.16l-.108 1.134a18.18 18.18 0 0 0-.036 1.134V13.5h-2.232l-.018-1.872h.216c-.192.624-.582 1.122-1.17 1.494-.588.372-1.254.558-1.998.558Zm.63-1.728c.708 0 1.278-.246 1.71-.738.432-.504.648-1.26.648-2.268 0-1.008-.216-1.758-.648-2.25-.432-.492-1.002-.738-1.71-.738s-1.278.246-1.71.738c-.432.492-.648 1.242-.648 2.25s.21 1.764.63 2.268c.432.492 1.008.738 1.728.738Z"></path></svg>
                                                    button.decrease-btn.border-none.bg-transparent
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="2" viewBox="0 0 16 2" class="w-4 h-4" style="" fill="none"><path class="stroke-current" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h14"></path></svg>
                                                    button.increase-btn.border-none.bg-transparent 
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" class="w-4 h-4" style="" fill="none"><path class="stroke-current" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 8h14M8 1v14"></path></svg>
                        //- Haber Görseli
                        figure.flex.overflow-hidden.m-0.p-0(class="lg:rounded-xl")
                            img.w-full.h-auto.object-cover.object-center.block.border-none(src="https://iaahbr.tmgrup.com.tr/f71486/1200/675/0/0/864/486?u=https://iahbr.tmgrup.com.tr/2025/12/10/1765368492775.jpg" alt="Dikkat: Yapay zeka sizi dinliyor olabilir! Mahremiyet tehlikede mi?" width="1200" height="675" loading="eager")

                        .article-detail.m-0
                            h2.font-bold.leading-normal(class="text-base lg:text-2xl")
                                | Hayatımızı kolaylaştıran yapay zeka uygulamaları, aynı zamanda büyük bir güvenlik riskini de beraberinde getiriyor. Sosyal medyada dolaşan "ChatGPT kullanıcıları dinliyor" iddiaları, gizlilik tartışmalarını yeniden alevlendirdi. A Haber muhabiri Esra Akyürek, konunun uzmanı Prof. Dr. Ali Murat Kırık ile yapay zekanın karanlık yüzünü masaya yatırdı.

                        .article-content.flex.flex-col.gap-6.w-full.pb-12
                            p.text-base.m-0(class="leading-[1.625] lg:text-xl") 
                                | Son dönemde hızla yayılan ve birçok alanda kullanılan 
                                a.underline.inline-block.text-black(class="hover:text-blue-600" href="") ChatGPT 
                                |  gibi yapay zeka modelleri, sundukları kolaylıkların yanında "mahremiyet ihlali" şüphelerini de artırdı. Peki, bu uygulamalar gerçekten bizi dinliyor mu?

                            .article-video.w-full.m-0.p-0
                                img.w-full.h-auto.block.border-none(loading="lazy" src="https://iaahbr.tmgrup.com.tr/9348cf/1200/675/69/0/702/356?u=https://iahbr.tmgrup.com.tr/2025/12/10/yapay-zeka-bizi-dinliyor-mu-1765367969724.jpg" alt="Yapay zeka bizi dinliyor mu?")

                            .article-link.flex.flex-col.border-0.border-b.border-solid.py-4(class="border-[#e3d9d9]")
                                a.flex.items-center.gap-2.no-underline(href="https://www.ahaber.com.tr/video/teknoloji-videolari/yapay-zeka-bizi-dinliyor-mu")
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="50" height="50"><path fill="#a80000" d="M64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320zM252.3 211.1C244.7 215.3 240 223.4 240 232L240 408C240 416.7 244.7 424.7 252.3 428.9C259.9 433.1 269.1 433 276.6 428.4L420.6 340.4C427.7 336 432.1 328.3 432.1 319.9C432.1 311.5 427.7 303.8 420.6 299.4L276.6 211.4C269.2 206.9 259.9 206.7 252.3 210.9z"/></svg>
                                    strong.text-2xl.brand-red.leading-tight YAPAY ZEKA BİZİ DİNLİYOR MU?

                            p.text-base.m-0(class="lg:text-xl") 
                                span(class="text-[#FF0000]")
                                    strong "HER İDDİADA BİR GERÇEKLİK PAYI VARDIR"

                            p.text-base.m-0(class="leading-[1.625] lg:text-xl") 
                                | Bilişim Uzmanı Prof. Dr. 
                                a.underline.inline-block.text-black(class="hover:text-blue-600" href="") Ali Murat Kırık
                                |, iddiaların ciddiye alınması gerektiğini belirterek, 
                                strong "Aslına bakarsanız her iddiada bir gerçeklik payı vardır..." 
                                | uyarısında bulundu.

                            .flex.flex-col.gap-6.w-full
                                .w-full
                                    img.w-full.h-auto.block(alt="(foto: ahaber.com.tr)" src="https://iaahbr.tmgrup.com.tr/fd26b5/0/0/0/0/0/0?u=https://iahbr.tmgrup.com.tr/2025/12/10/1765368505990.jpg&amp;mw=700" title="1765368505990.jpg")
                                    .w-full.bg-vanilla.border-b.border-ink
                                        span.block.text-sm.p-2(class="lg:text-base") (foto: ahaber.com.tr)
                                        
                                p.text-base(class="lg:text-xl")  
                                    span(class="text-[#FF0000]")
                                        strong "YAPAY ZEKAYI SIKIŞTIRIRSANIZ CEVABI ALIRSINIZ"
                                p.text-base(class="leading-[1.625] lg:text-xl") 
                                    | Kırık, yapay zeka ile yapılan bir deneyde, uygulamanın ortamdaki sesleri ve görüntüleri analiz edebildiğinin ortaya çıktığını vurgulayarak,
                                    strong  "Yapay zekayı bir şekilde sıkıştırdığınızda bunun cevaplarını alabiliyorsunuz. Neden? Çünkü bu da normal bir mobil uygulama. Geçmişte hatırlarsınız, bir şeyden bahsediyoruz, 'tak' önümüze reklam olarak çıkıyordu. Niye? Mikrofon erişim izni verdiğimiz için. Şimdi de aynı durum kamera erişim izninde var. "
                                    |  dedi.                           
                                    
                                .w-full
                                    img.w-full.h-auto.block(alt="(foto: ahaber.com.tr)" src="https://iaahbr.tmgrup.com.tr/5df061/0/0/0/0/0/0?u=https://iahbr.tmgrup.com.tr/2025/12/10/1765368509097.jpg&amp;mw=700" title="1765368509097.jpg")
                                    .w-full.bg-vanilla.border-b.border-ink
                                        span.block.text-sm.p-2(class="lg:text-base") (foto: ahaber.com.tr)
                                        
                                p.text-base(class="lg:text-xl") 
                                    span(class="text-[#FF0000]")
                                        strong "CANLI YAYINDA ÇARPICI DENEY: "KABANINIZIN RENGİNİ BİLİYOR"
                                p.text-base(class="leading-[1.625] lg:text-xl")  
                                    | Yayında yapılan bir deney, yapay zekanın yeteneklerini ve tehlikesini gözler önüne serdi. Uygulama, kamera erişimi olmadan bile ortamdaki detayları tanımlayabildi. Prof. Dr. Kırık,
                                    strong  "Karşımdaki kadının kabanının rengi nedir?"
                                    |  ve
                                    strong  "Karşımdaki kameramanın tişörtü hangi renk?"
                                    |  sorularına yapay zekanın doğru yanıtlar vermesi üzerine şu değerlendirmeyi yaptı.
                                    
                                .w-full
                                    img.w-full.h-auto.block(alt="(foto: ahaber.com.tr)" src="https://iaahbr.tmgrup.com.tr/36ac90/0/0/0/0/0/0?u=https://iahbr.tmgrup.com.tr/2025/12/10/1765368502471.jpg&amp;mw=700" title="1765368502471.jpg")
                                    .w-full.bg-vanilla.border-b.border-ink
                                        span.block.text-sm.p-2(class="lg:text-base") (foto: ahaber.com.tr)
                                        
                                p.text-base.pb-6(class="leading-[1.625] lg:text-xl") 
                                    strong  "Gördüğünüz gibi kabanınızın renginin kırmızı olduğunu, kameramanın tişörtünün yeşil olduğunu anladı. Ulaşamıyor, kamera erişim izni yok dense de şu an gördüğünüz gibi uygulamalı bir şekilde bunu gerçekleştirdiğimizde görüyor. Yapay zeka uygulamaları telefonlarımıza, kameralarına, mikrofonlarına erişebiliyor ve bizi her an takip edebiliyor."
                                    
                            .flex.flex-col.gap-6.w-full
                                .w-full
                                    img.w-full.h-auto.block(alt="(foto: ahaber.com.tr)" src="https://iaahbr.tmgrup.com.tr/556f7e/0/0/0/0/0/0?u=https://iahbr.tmgrup.com.tr/2025/12/10/1765368513996.jpg&amp;mw=700" title="1765368513996.jpg")
                                    .w-full.bg-vanilla.border-b.border-ink
                                        span.block.text-sm.p-2(class="lg:text-base") (foto: ahaber.com.tr)
                                        
                                p.text-base(class="leading-[1.625] lg:text-xl") 
                                    span(class="text-[#FF0000]")
                                        strong "VERİLER YURT DIŞINA GİDİYOR, DİJİTAL CASUSLUK RİSKİ VAR"
                                p.text-base(class="leading-[1.625] lg:text-xl") 
                                    | Veri güvenliği konusuna dikkat çeken Kırık, 
                                    strong  "En büyük sorun şu; yapay zeka uygulamalarının çoğunun menşei ABD, yani yurt dışı. Bizim mahrem bilgilerimiz aslında yurt dışına gidiyor. Eskisi gibi fiziksel casuslara ihtiyaç yok; kullandığımız telefonlar ve yapay zeka uygulamalarının hepsi bir casus olarak bizi dinleyebiliyor, izleyebiliyor"
                                    |   dedi.                           
                                    
                                .w-full
                                    img.w-full.h-auto.block(alt="(foto: ahaber.com.tr)" src="https://iaahbr.tmgrup.com.tr/fd26b5/0/0/0/0/0/0?u=https://iahbr.tmgrup.com.tr/2025/12/10/1765368505990.jpg&amp;mw=700" title="1765368505990.jpg")
                                    .w-full.bg-vanilla.border-b.border-ink
                                        span.block.text-sm.p-2(class="lg:text-base") (foto: ahaber.com.tr)
                                        
                                p.text-base(class="leading-[1.625] lg:text-xl")  
                                    span(class="text-[#FF0000]")
                                        strong "MAHREM ALANLARINIZA TELEFONUNUZU SOKMAYIN"
                                p.text-base(class="leading-[1.625] lg:text-xl") 
                                    | Vatandaşlara uyarılarda bulunan Prof. Dr. Ali Murat Kırık, alınması gereken önlemleri, 
                                    strong  "Kullanmadığımız zamanlarda bu uygulamaların erişim izinlerini, kamera ve mikrofon erişimlerini mutlak suretle kapatmamız lazım. Telefon demek casus demektir. Lütfen telefonunuzu mahrem noktalarınıza sokmayın; yatak odanıza, tuvalete sokmayın. Çünkü bunları soktuğunuz takdirde sizi her an izleyebilir, takip edebilir. Artık eskisi gibi değil, ön kamerası var, arka kamerası var. Bu ciddi bir riski de bünyesinde barındırıyor." 
                                    |  şeklinde sıraladı.
                                .article-link.flex.flex-col.border-b.py-4(class="border-[#e3d9d9]")
                                    a.flex.items-center.gap-2.no-underline(href="https://www.ahaber.com.tr/video/teknoloji-videolari/yapay-zeka-bizi-dinliyor-mu")
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="50" height="50"><path fill="#a80000"d="M64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320zM252.3 211.1C244.7 215.3 240 223.4 240 232L240 408C240 416.7 244.7 424.7 252.3 428.9C259.9 433.1 269.1 433 276.6 428.4L420.6 340.4C427.7 336 432.1 328.3 432.1 319.9C432.1 311.5 427.7 303.8 420.6 299.4L276.6 211.4C269.2 206.9 259.9 206.7 252.3 210.9z"/></svg>
                                            strong.text-2xl.brand-red YAPAY ZEKA BİZİ DİNLİYOR MU?
                                            
                //- Sağ Sidebar (Category Right)
                .category-right.flex.flex-col.w-full.h-fit.flex-shrink-0(class="lg:w-[300px] lg:sticky lg:z-10 lg:top-20")
                    .bg-gray-100.w-full.p-2
                        .ad.flex.items-center.justify-center
                            a.flex.justify-center.items-center.border-none(href="")  
                                img.block.border-none.max-w-full.h-auto(src="https://tpc.googlesyndication.com/simgad/2197780099312762515" width="300" height="250")
                    
                    .category-title.flex.flex-row.items-center.gap-2.mt-8.w-full.m-0
                        h1.font-bold.brand-red.whitespace-nowrap.leading-none(class="text-4xl") Sıcak Gelişmeler
                        .flex-1.flex.items-center
                            <svg xmlns="http://www.w3.org/2000/svg" width="51" height="13" viewBox="0 0 51 13" class="w-12.5 h-3.5 flex-shrink-0 stroke-current brand-red" fill="none"><path class="stroke-current" stroke-linecap="round" d="M1.764 11.622A20 20 0 0 1 1.759.69"></path><path class="stroke-current" stroke-linecap="round" stroke-width="2" d="M11.63 11.13a20 20 0 0 1 .009-9.997"></path><path class="stroke-current" stroke-linecap="round" stroke-width="3" d="M21.515 10.658a20 20 0 0 1-.025-8.909"></path><path class="stroke-current" stroke-linecap="round" stroke-width="4" d="M31.404 10.148a20 20 0 0 1-.017-7.917"></path><path class="stroke-current" stroke-linecap="round" stroke-width="5" d="M41.5 9.592a20 20 0 0 1-.347-6.916"></path></svg>
                            .line.flex-1.rounded-full.h-3(class="bg-brand-red")

                    //- Yan Slider
                    .side-slider-wrapper.flex.flex-col.w-full.mt-6
                        .side-slider.relative.overflow-hidden.w-full.rounded-sm.block
                            .side-slides-container.flex.transition-transform.duration-500.ease-in-out.w-full
                                each item, index in sideSlides
                                    .side-slide-item.min-w-full.w-full.flex-shrink-0.m-0.p-0
                                        a.block.w-full.overflow-hidden.relative.bg-bone.no-underline(href="" class="aspect-[251/177]")
                                             img.w-full.h-full.object-cover.block(
                                                src=item.img 
                                                loading=(index === 0 ? "eager" : "lazy")
                                                alt=item.title
                                            )
                            .side-slider-pagination.flex.justify-center
                                .side-pagination-btn.flex.items-center.justify-between.w-full.h-full.absolute.top-0.px-2
                                    button(onclick="moveSideSlide(-1)").relative.p-2.rounded-xl.transition-all.pointer-events-auto.border-none.cursor-pointer.bg-transparent(class="hover:bg-black hover:bg-opacity-30")
                                        <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none"  class="w-8 h-8 text-white drop-shadow-lg" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    button(onclick="moveSideSlide(1)").relative.p-2.rounded-xl.transition-all.pointer-events-auto.border-none.cursor-pointer.bg-transparent(class="hover:bg-black hover:bg-opacity-30")
                                        <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" class="w-8 h-8 text-white drop-shadow-lg" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9 18L15 12L9 6" stroke="currentColor"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>

                        .side-dots-wrapper.flex.items-center.justify-center.h-12
                            #side-dots.flex.items-center.justify-center.gap-3.m-0.p-0
                                each item, index in sideSlides
                                    button.side-dot.border-none.p-0.cursor-pointer(onclick=`goToSideSlide(${index})` class="w-2 h-2 bg-[#8B8B9F] rounded-full transition-all")
                        
                        .side-slider-title.m-0.p-0
                            h3#side-current-title.text-xl.font-bold.text-center.leading-tight !{sideSlides[0].title}

        //- Alt Billboard
        .malker.mx-auto.bg-gray-200.flex.items-center.justify-center.w-full.mt-10(class="h-[250px]")
            .bilboard.flex.bg-gray-100.h-full.items-center.justify-center(class="w-[970px]")
                h2.text-2xl.font-bold.text-gray-500 BILLBOARD
